body {
  background: #f4f6f8;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 25px;
  width: 420px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#result {
  margin-top: 15px;
  font-weight: bold;
}

ul {
  text-align: left;
  margin-top: 10px;
}
